* {
  box-sizing: border-box;
}

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

kbd {
  border: 1px solid #888;
  border-radius: 2px;
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  padding: 0 4px;
}
